name: Build Publish Release

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/action_build.yml

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      # 下载 action_build.yml 构造出来的 extension-chrome.zip, extension-firefox.zip 两个文件
      - name: Download Chrome Built Artifact
        uses: actions/download-artifact@v4
        with:
          pattern: build-zip-*
          merge-multiple: true

      # 发布 GitHub Release
      - id: github_release
        uses: ncipollo/release-action@v1
        with:
          name: v${{ needs.build.outputs.version }}
          tag: v${{ needs.build.outputs.version }}
          skipIfReleaseExists: true
          generateReleaseNotes: true
          artifacts: 'extension-chrome.zip,extension-firefox.zip'